.education{
    padding-top: 100px;
    background-color: #ffffff;
    width: calc(100vw - var(--scrollbar-width));
    &__title{
        font-size: 50px;
        font-weight: 900;
        text-align: center;
    }
    &__timeline{
    }
    .timeline{
        
        position: relative;
        width: 1000px;
        margin: 0 auto;
        margin-top: 50px;
        &__container{
            position: relative;
            width: 50%;
            // background-color: #b80000;
            padding: 10px 50px;

        }
        
        &__card{
            padding: 20px 30px;
            position: relative;
            border-radius: 8px;
            background-color: rgb(156, 253, 253);
        }
        
        &__title{
            font-size: 24px;
            font-weight: 500;
            color: #000000;
        }
        &__descr{
            font-size: 16px;
            font-weight: 500;
            color: #000000;
        }
        &__img{
            width:40px;
            height:40px;
            background-color: #20caf5;
            border-radius: 50%;
            position: absolute;
            right: -20px;
            top: 32px;
            z-index: 10;
        }
        .right-container img{
            left: -20px;
        }
        .left-container{
            left: 0;
        }
        .right-container{
            left: 50%;
        }
        &::after{
            content: '';
            position: absolute;
            width: 6px;
            height: 100%;
            background: #20caf5;
            top: 0;
            left: 50%;
            margin-left: -3px;
            z-index: 5;
        }
        &__left-container-arrow{
            height: 0;
            width: 0;
            position: absolute;
            top: 28px;
            z-index: 1;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 15px solid rgb(156, 253, 253);
            right: -15px
        }
        &__right-container-arrow{
            height: 0;
            width: 0;
            position: absolute;
            top: 28px;
            z-index: 1;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 15px solid rgb(156, 253, 253);
            left: -15px;
        }
    }
    
    
}