
.portfolio__item{
    width: 450px;
    border: 1px solid #ffffff;
    transition: border 0.4s ease;
    padding: 10px 10px;
    &:hover{
        // border: 1px solid #dbdbdb;
        
    }
    
}
.project{
    &__photo{
        position: relative;
        display: inline-block;
        overflow: hidden;

        img{
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
            transition: transform 0.3s ease;
        }
        &:hover img {
            transform: scale(1.3);
        }
    }
    &__name{
        font-weight: 700;
        font-size: 27px;
    }
    &__description{
        font-weight: 400;
    }
    &__buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        a{
            text-decoration: none;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
    }
    &__technologies{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
       
    }
}